<% @places.each do |place| %>
	<div class="place-box col-xs-10 col-xs-offset-1">
		<div class="col-xs-10">
		<h1><%= link_to place.name, place_path(place), 'data-no-turbolink' => true %></h1>
		<i><%= place.address %></i><br/><br />
		<p><%= place.description %></p>
		<% if place.user.present? %>
			<small><%= place.user.email %></small>
		<% end %>

		<% if place.comments.present? %>
			<blockquote>
				<% if place.comments.last.humanized_rating.present? %>
					<b><%= place.comments.last.humanized_rating %></b> - 
				<% end %>
				<%= place.comments.last.message %>
				<small><%= place.comments.last.user.email %></small>
			</blockquote>
		<% end %>
		</div>
		<% if place.photos.present? %>
			<div class="col-xs-2 pull-right">
				<%= image_tag place.photos.first.picture, :class => "thumb", :title => place.photos.first.caption %>
				<%= place.photos.first.inspect %>
			</div>
		<% end %>
	</div>
<% end %>
<div class = "apple_pagination">
	<%= will_paginate @places %>
</div>
